.footer {
  height: 90px;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  background-color: rgba(163, 203, 236, 0.808);
  @media screen and (min-width: 768px) {
    position: fixed;
  }
}
p {
  font-weight: bold;
  text-align: center;
}
