<div class="container mt-4">
  <div class="jumbotron text-center">
    <h1>
      Welcome to our web application that helps children learn and calculate the
      perimeter and area of geometric figures!
    </h1>
    <p>
      Our goal is to make math engaging and fun by providing an interactive
      application that allows children to visualize figures and learn how to
      calculate their perimeters and areas easily. Our web application allows
      the user to choose from a list of shapes including rectangle, square,
      circle, and triangle. Once a shape is selected, the user can choose
      whether they want to know the perimeter or area of that shape. They can
      then enter the required values and the application will calculate the
      perimeter or area of the selected shape.
    </p>
    <p>
      But that's not all! Our application also allows the user to convert the
      calculated perimeter or area into other units such as centimetre,
      decimetre, metre and kilometre. The default unit is metre (m), but the
      user can switch to any unit from the list provided. The list of possible
      units and shapes are retrieved directly from our Node.js API that is
      specifically built for this purpose.
    </p>
    <p>
      Our solution is designed using Angular for the frontend and Node.js for
      the backend. Not only does this provide a great experience for the user,
      but it also ensures that the application is robust and scalable.
    </p>
    <p>
      We are excited to provide this application to children who are curious and
      eager to learn math in a fun and interactive way. Our commitment to
      creating engaging solutions for children is what drives us to build
      applications like this that make learning more fun and less intimidating.
    </p>
  </div>
</div>
